.DS_Store
.recommenders/
.settings/
.metadata
.version
.project
.classpath
*.class
*.db
*.log
*.modl
bin/
out/
modules/
temp_modl/
migration/projects/
migration/procs/g2
migration/procs/ignition
migration/tags/
migration/xml/g2
migration/xml/ignition
regression/logs
